/* © lumiwrks. All rights reserved. */

main h1 {
    font-weight: 900;
}

p {
    margin-top: 10px;
    text-align: justify;
}

.header {
    padding: 10px;

}

main {
    text-align: left;
    padding: 50px;
}